# Database Configuration
DATABASE_URL="postgresql://mogacrmhieu:WCmSAkczTFfB6Jr5@opla-crm-dev.postgres.opla-crm.com:35433/mogacrmhieu?schema=public"

# Database Options
DATABASE_HOST=opla-crm-dev.postgres.opla-crm.com
DATABASE_PORT=35433
DATABASE_SYNC=true
DATABASE_LOGGING=false
DATABASE_USERNAME=mogacrmhieu
DATABASE_PASSWORD=WCmSAkczTFfB6Jr5
DATABASE_NAME=mogacrmhieu

# Server Configuration
PORT=3001

